:root{
    --pmr: red;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3e2dc;

}
.container{
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    color: white;
    display: flex;
    border-radius: 10px;
    background-color: #373c4f;
}
.left{
    width: 60%;
    padding: 20px;
}
.calendar{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #5d6482;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
}
.calendar::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 24px;
    height: 94%;
    border-radius: 3px;
    background-color:rgb(141, 141, 141) ;
    transform: translateY(-50%);

}
.calendar::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 3px;
    background-color:rgb(198, 198, 198) ;
    transform: translateY(-50%);
    z-index: 2;
}
.calendar .month{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0px 50px;
    margin-top: 20px;

}
.calendar .month .prev,.calendar .month .next{
    cursor: pointer;
}
.calendar .month .prev:hover,
.calendar .month .next:hover{
    color: var(--pmr);
}
.calendar .weekday{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;

}
.calendar .weekday div{
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.calendar .days{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.calendar .days .day{
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--pmr);


}
.calendar .day:not(.prev,.next):hover{
    color: white;
    background-color: var(--pmr);
}
.calendar .days .prev,
.calendar .days .next{
    color: rgb(160, 148, 148);
}
.calendar .days .today{
    font-size: 1.7rem;
    background-color: var(--pmr);
    color: white;
}
.calendar .days .event{
    position: relative;
}
.calendar .days .event::after{
    content: '';
    position: absolute;
    bottom: 10%;
    margin: auto;
    width: 60%;
    height: 6px;
    border-radius: 30px;
    background-color: var(--pmr);
}
.calendar .days .active{
    background-color: var(--pmr);
    color: white;
}
.calendar .event:hover::after{
    background-color: white;
}
.calendar .today.event::after{
    background-color: white;
}
.calendar .active.event::after{
    background-color: white;
}
.calendar .gotoday{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
}
.calendar .gotoday .goto input{
    padding: 0 20px;
    height: 40px;
    outline: none;
    font-size: 1.2rem;

}
.calendar .gotoday .goto button{
    padding: 5px 10px;
    height: 40px;
    font-size: 1.2rem;
}
.calendar .gotoday button{
    height: 40px;
    font-size: 1.2rem;
    padding: 5px 10px;
    cursor: pointer;
    background-color: var(--pmr);
    color: white;
}
.container .right{
    width: 40%;
    position: relative;
    min-height: 100px;
    padding: 20px 0;
}
.right .todaydate{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.todaydate .eventday{
    font-size: 2rem;
    font-weight: 500;
}
.todaydate .eventdate{
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff;
}
.events{
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    padding: 4px;

}

.events .event{
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    padding-left: 50px;
    color: white;
    cursor: pointer;
}
.events .event:nth-child(even){
    background: linear-gradient(90deg,rgb(69, 69, 93),transparent);
}
.events .event:hover{
    background: linear-gradient(90deg,var(--pmr),transparent);
    opacity: 1;
}
.events .event:hover::after{
    content: '🗸';
    position: absolute;
    right: 0;
    font-size: 1.5rem;
}
.events .event .title{
    display: flex;
    align-items: center;
    pointer-events: none;
}
.events .event .title .eventtitle{
    margin-left: 20px;
}
.events .event .title i{
    font-size: .5rem;
}
.events .event .time{
    font-size: 1rem;
}
.events .noevent{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.add-event-wrapper{
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    transform: translateX(-50%);
    transition: max-height .5s;
}
.add-event-wrapper.active{
    max-height: 300px;
}
.add-event-header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #373c4f;
    font-size: 1.5rem;

}
.add-event-header .close{
      cursor: pointer;
}
.add-event-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}
.add-event-body .add-event-input{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.add-event-body .add-event-input input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    font-size: 1rem;
    font-weight: 400;
    color: #373c4f;
}
.add-event-body .add-event-input input:focus{
    border-color: var(--pmr);
}
.add-event-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.addbtn{
    height: 40px;
    font-size: 1rem;
    outline: none;
    border: none;
    color: white;
    background-color: var(--pmr);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;

}
.addevent{
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:  1rem;
    color: white;
    border: 2px solid #5d6482;
    background-color: transparent;
    cursor: pointer;
}

@media (max-width:1000px){
    body{
        align-items: flex-start;
        justify-content: flex-end;

    }
    .container{
        min-height: 100vh;
        flex-direction: column;
        border-radius: 0;
    }
    .container .left,
    .container .right{
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }
    .calendar::before,
    .calendar::after{
        top: 100%;
        left: 50%;
        width: 97%;
        height: 14px;
        border-radius: 0 0 5px 5px;
        transform: translateX(-50%);
    }
    .calendar::before{
        width: 94%;
        top: 100%;
        height: 24px;
        z-index: 0;
    }
    .add-event-wrapper{
        bottom: 100px;
    }
}
@media(max-width:600px){
    .calendar .month{
        height: 75px;
    }
    .calendar .weekday{
        height: 50px;
    }
    .calendar .days .day{
        min-width: 0px;
        height: 50px;
        font-size: 1rem;
    }

}